.App {
  text-align: center;
}

.button {
  background-color: seagreen;
  color: white;
  padding: 10px;
  border: 2px solid gray;
  font-weight: bold;
  margin-bottom: 5px;
}

.button:hover {
  box-shadow: 2px 4px #888888;
}